@model List<SystemAdmin.UI.Models.get_cantones_Result>
@{ ViewBag.Title = "Cantones";
    Layout = "~/Views/Layouts/Layout.cshtml"; }


<link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />

<div class="row row-cols-1 row-cols-md-5 g-4">
    @foreach (var oELemento in Model)
    {
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="~/Assets/img/Distrito.png" alt="Card image cap">
                <div class="card-body">

                    <h5 class="card-title">@oELemento.idCanton</h5>
                    <p class="card-text">@oELemento.nombre</p>

                    <a class="btn btn-secondary btn-lg" href="/Distrito/Editar" role="button">Editar</a>
                    <button type="button" class="btn btn-danger btn-lg">Borrar</button>
                </div>
            </div>
        </div>
    }


    </div>